<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Key</key>
			<string>ApplicationName_preference</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>ApplicationVersion_preference</string>
			<key>Title</key>
			<string>Application Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>definitionsversion_preference</string>
			<key>Title</key>
			<string>Definitions Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Framework Versions</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>5.2.3-002</string>
			<key>Key</key>
			<string>sapmdc_preference</string>
			<key>Title</key>
			<string>SAPMDC</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>5.1.15</string>
			<key>Key</key>
			<string>sapcommon_preference</string>
			<key>Title</key>
			<string>SAPCommon</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>5.1.15</string>
			<key>Key</key>
			<string>sapfiori_preference</string>
			<key>Title</key>
			<string>SAPFiori</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>5.1.15</string>
			<key>Key</key>
			<string>sapfioriflows_preference</string>
			<key>Title</key>
			<string>SAPFioriFlows</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>5.1.15</string>
			<key>Key</key>
			<string>sapfoundation_preference</string>
			<key>Title</key>
			<string>SAPFoundation</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>5.1.15</string>
			<key>Key</key>
			<string>sapofflineodata_preference</string>
			<key>Title</key>
			<string>SAPOfflineOData</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>5.1.15</string>
			<key>Key</key>
			<string>sapodata_preference</string>
			<key>Title</key>
			<string>SAPOData</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
